
body {
    background-color: rgb(29, 28, 28);
    font-family: 'Montserrat', sans-serif;
    
    color: aliceblue;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div {
    text-align: center;
    font-size: 100px;
}

h2 {
    font-size: 100px;
}